@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    h1, h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}